doctype html
html
  head
  body
    h1#pagetitle page title goes here
    p.multilinePara.
      asd
      asd
//- without tag will become div tag
    .display-box i am inside the box
    section.display-box iam inside you!
