doctype html
html
  head
    title Create ID & Class
  body
    h1#pagetitle page title goes here
    p.multilineParagraph.
      Paragraph 1
      Paragraph 2
//- without tag will become div tag
    .display-box i am inside the box
    section.display-box iam inside you!
