//-
  Often you might want large blocks of text within a tag. A good example is
  writing JavaScript and CSS code in the script and style tags. To do this, just
  add a . right after the tag name, or after the closing parenthesis, if the tag
  has attributes.

script.
  if (usingPug)
    console.log('you are awesome')
  else
    console.log('use pug')

//-
  <script>
    if (usingPug)
      console.log('you are awesome')
    else
      console.log('use pug')
  </script>
